---
import {getCollection, render} from 'astro:content';
import {Code}                  from 'astro-expressive-code/components';

import Layout                  from '../layouts/Layout.astro';

export async function getStaticPaths() {
  const pages = await getCollection(`docs`);

  return pages.map(page => ({
    params: {id: page.id},
    props: {page},
  }));
}

const {page} = Astro.props;
const {Content} = await render(page);
---

<Layout>
  <div class="prose">
    <Content/>
  </div>
</Layout>
